Extensible JPY structure (without Registrar code updates) proposal

A) As of -10, the JPY structure is:

	       JPY_message =
	       [
	          ip      : bstr,
	          port    : int,
	          family  : int,
	          index   : int
	          content : bstr
	       ]

B) in my -10 review: https://mailarchive.ietf.org/arch/msg/anima/BeuJDRblM54-PNdQ3x0TqQXObw8/
i am proposing to use better standards header structure elements from RFC9164:

	       JPY_message =
	       [
	          ll-ip-address,
	          port    : int,
	          content : bstr
	       ]

Replacing ip,family and index with ll-ip-address, which i propose to define as follow:

   ll-ip-address = ll-ipv6-address / ll-ipv4-address
   ll-ipv6-address = #6.54(ll-ipv6-address-with-prefix)
   ll-ipv4-address-or-prefix = #6.52(ll-ipv4-address-with-prefix)
   ipv6-address = bytes .size 16
   ipv4-address = bytes .size 4
   ll-ipv6-address-with-prefix = [ipv6-address, null, ip-zone-identifier]
   ll-ipv4-address-with-prefix = [ipv4-address, null, ip-zone-identifier]
   ipv6-prefix-bytes = bytes .size (uint .le 16)
   ipv4-prefix-bytes = bytes .size (uint .le 4)
   ip-zone-identifier = uint / text

This is a subset of the definitions from RFC9164, section 5, in which ip-address-or-prefix is defined, which can not only be an ip-address, but also be a prefix (e.g. include a prefix-length). In our case we never need a prefix-length, so we can have a simpler defining (eliminated just all prefix-length options in the CDDL). But the encoding is still compliant with ip-address-or-prefix from RFC9164.

What this give is therefore a standard RFC9164 encoding of IPv6/IPv6 link-local addresses which primarily introduces new standard values for CBOR tags to indicate ipv4 and ipv6 adresses and a standard encoding of ipv4/ipv6-address together with a zone-identifier, which effectively is the better name for what -10 uses the term "index" (zone is a term from ipv6 architecture).

C) However. Thinking beyond what i proposed in the review, i would suggest one further step, for an IMHO bigger benefit, which may or may not be theoretical:

Assume a proxy might not have a ll-ip-address,port for a Pledge, because the Pledge only has its L2 address before enrollment, and we want to forego the complexities of creating a link-local-address. And there is a huge variety of different L2 addresses through different radio technologies. 

If we even ever had just one additional header option that we would like for some proxies to use, we would need to upgrade the code on every Registrar that wanted to support a proxy that wanted to use such a different header. And that is completely unnecessary, because for the Registrar, the JPY header is logically completely opaque. 

So: We can allow Proxies to introduce arbitrary variations of the header, if we define the JPY_message like this:

	       JPY_message =
	       [
	          header: [ any ],
	          content : bstr
	       ]

This is all the Registrar needs to know, whatever we want the proxy to do.

Then we need to pick one standard form for what the Proxy should encode into header for our draft. 
Without my B) RFC9164 proposal:

               header =  [  type  : int,
                                      zone  : int                                     
                                      ip      : bstr,
	                               port    : int
                                  ]

There are small modifications over -10 header:
a) reordering the header elements
b) we do not need family to distinguish IPv4/IPv6, because that is obvious from the length of the ip field. But we need one field to indicate what type of header we have. So, here we use type = 1, and additional values create new header that can have arbitrarsy different remaining field in the header.
c) renaming index to zone as that is correct IP architecture terminology.

I would also say that values 2..23 of type require an RFC for asignment (encoded as 1 byte in CBOR), values 24..255 require expert review (but no RFC), those require 2 bytes CBOR encoding, any larger values are FCFS assigned.

I would also say to add a sentence: total CBOR encoding size of header must be < 32 bytes, so that we know on the registrar what the maximum amount of memory is we need to consider for the header size.

Alternatively, with the proposed RFC9164 modes from B):

               header =  [  type  : int,
                                      ll-ip-address,
	                               port    : int
                                  ]

Only changes ip,zone to the better standards rfc9164 ll-ip-address field.

So, lets assume some deployments like to avoid the ipv6 link-local overheader during enrolment and just want to use an L2 connection between Pledge and Proxy via some IoT L2 technology:

              header = [ type: int,
                                  l2addr: bstr
                                ]

In this example maybe there maybe not even a need for port (software on pledge could recognize the message differently) . And whoever wants to implement such a proxy quickly might simply register an FCFS value for type (256 or larger) encoded in 3 bytes in CBOR, FCFS. And no registrar code to be updated. And whenever something like this would be written down as an RFC (IETF or individual submission) it would get a type = 2..23 value which is encoded in 1 byte.
	         








I like (C), but I don't know why we need to tell the Proxy anything about how to encode this private header.
We might put a limit on size, like 32-bytes.   If one omits the fe80::/64 prefix which is common to all LL, then 64-bits of IID, plus port number, plus internal ifindex, fit into 16-bytes, which is conveniently also the size of an AES128 block.