fix text that says to use RFC9148 discovery

[EskoDijk](https://github.com/EskoDijk) [6 days ago](https://github.com/anima-wg/constrained-join-proxy/pull/31/files#r914593273)
I don't get this part. It's a pledge, so it needs to find a BRSKI Registrar, not an EST server. So the discovery in RFC 9148 is irrelevant at this stage. Later on, once the voucher is received, the pledge will do EST functions directly with the registrar over the same DTLS connection, so there's still no need to discover an EST server.

Maybe later if it wants to renew its cert, it can use EST server discovery but I think it could even in that case use BRSKI Registrar discovery since the Registrar is defined to also act as EST server (or not?).

Member
@[EskoDijk](https://github.com/EskoDijk) EskoDijk [6 days ago](https://github.com/anima-wg/constrained-join-proxy/pull/31/files#r914595225)
I thought we agreed in the call that a pledge would only discover a device of type "join proxy", which in Far cases would yield a true join proxy and in Near use cases would yield a join proxy function hosted at the Registrar's machine. (So like a registrar, pretending to be a join proxy.) Then the pledge only has to do one type of discovery and doesn't have to decide which that is, which makes the protocol simpler and better testable/interoperable.

Proposed fix is to just replace one RFC number. I think the reference was wrong:

OLD
Discoverable port numbers are usually returned for Join Proxy resources in the <URI-Reference> of the payload (see section 4.1 of [RFC9148].

NEW
Discoverable port numbers are usually returned for Join Proxy resources in the <URI-Reference> of the payload (see section 4.1 of **[RFC6690]**.


This part will be updated to point to cBRSKI, which defines the Pledge's discovery actions!
So closing the issue here already.   The CJP draft will define how the JP discovers a registrar.