document/register a new GRASP objective for CoAP-DTLS onboarding

Archived-At: <https://mailarchive.ietf.org/arch/msg/anima/nfUYNZzM6cm03oPbzfiOYwFw8NM>

```
This is insufficient. Section 4.3 only describes the GRASP objective for
EST-TLS, which uses the objective-value "EST-TLS". For the constrained join proxy,
you need to specify the objective to use a new appropriate objective. For
example, you could specify to continue to use AN_join_registrar, but use an
objective-value of "EST-COAPS". That would IMHO be in the spirit of how we
defined the RFC8995 GRASP objective. And astoundingly (;-)) it wouldn't require
a new IANA registration (i think, Brian ?).
```


https://www.rfc-editor.org/rfc/rfc8995.html#name-proxy-grasp-announcements  is the example, and we only need to add IPPROTO_UDP.



6.1.  Join Proxy discovers Registrar

   In this section, the Join Proxy and Registrar are assumed to
   communicate via Link-Local addresses.  This section describes the
   discovery of the Registrar by the stateless Join Proxy.  The
   statefull Join Proxy discovers the Registrar as a Pledge.


6.1.1.  CoAP discovery

   The discovery of the coaps Registrar, using coap discovery, by the
   stateless Join Proxy follows sections 6.3 and 6.5.1 of
   [I-D.ietf-anima-constrained-voucher].  The stateless Join Proxy can
   discover the join-port of the Registrar by sending a GET request to
   "/.well-known/core" including a resource type (rt) parameter with the
   value "brski.rjp" [RFC6690].  Upon success, the return payload will
   contain the join-port of the Registrar.

     REQ: GET coap://[IP_address]/.well-known/core?rt=brski.rjp

     RES: 2.05 Content
     <coaps://[IP_address]:join-port>; rt="brski.rjp"

   The discoverable port numbers are usually returned for Join Proxy
   resources in the <URI-Reference> of the payload (see section 5.1 of
   [I-D.ietf-ace-coap-est]).

6.1.2.  GRASP discovery

   This section is normative for uses with an ANIMA ACP.  In the context
   of autonomic networks, the Registrar announces itself to a stateless
   Join Proxy using ACP instance of GRASP using M_FLOOD messages.
   Section 4.3 of [RFC8995] discusses this in more detail.  The
   following changes are necessary with respect to figure 10 of
   [RFC8995]: * The transport-proto is IPPROTO_UDP * the objective is
   AN_REGISTRAR * the objective name is "BRSKI_RJP".  The Registrar
   announces itself using ACP instance of GRASP using M_FLOOD messages.
   Autonomic Network Join Proxies MUST support GRASP discovery of
   Registrar as described in section 4.3 of [RFC8995] . Here is an
   example M_FLOOD announcing the Registrar on example port 5685.

      [M_FLOOD, 51804321, h'fda379a6f6ee00000200000064000001', 180000,
      [["AN_registrar", 4, 255, "BRSKI_RJP"],
      [O_IPv6_LOCATOR,
      h'fda379a6f6ee00000200000064000001', IPPROTO_UDP, 5685]]]

            Figure 5: Example of Registrar announcement message

   The Registrar uses a routable address that can be used by enrolled
   constrained Join Proxies.

6.1.3.  6tisch discovery

   The discovery of the Registrar by the Join Proxy uses the enhanced
   beacons as discussed in [I-D.ietf-6tisch-enrollment-enhanced-beacon].


6.2.  Pledge discovers Registrar

   In this section, the Pledge and Registrar are assumed to communicate
   via Link-Local addresses.  This section describes the discovery of
   the Registrar by the Pledge.  Once the Pledge is enrolled and
   functions as a stateful Join Proxy, it continues with the same
   Registrar port and address.

6.2.1.  CoAP discovery

   The discovery of the coaps Registrar, using coap discovery, by the
   Pledge follows sections 6.3 and 6.5.1 of
   [I-D.ietf-anima-constrained-voucher].

6.2.2.  GRASP discovery

   This section is normative for uses with an ANIMA ACP.  In the context
   of autonomic networks, the Registrar uses the DULL GRASP M_FLOOD
   mechanism to announce itself.  Section 4.1.1 of [RFC8995] discusses
   this in more detail.  The following changes are necessary with
   respect to figure 10 of [RFC8995]: * The transport-proto is
   IPPROTO_UDP * the objective is AN_REGISTRAR * the objective name is
   "BRSKI_JP" The Registrar announces itself using ACP instance of GRASP
   using M_FLOOD messages.  Autonomic Network Join Proxies MUST support
   GRASP discovery of Registrar as described in section 4.3 of [RFC8995]
   .
   Here is an example M_FLOOD announcing the Registrar at fe80::1, on
   standard coaps port 5684.

        [M_FLOOD, 12340815, h'fe800000000000000000000000000001', 180000,
        [["AN_Registrar", 4, 1, "BRSKI_JP"],
        [O_IPv6_LOCATOR,
        h'fe800000000000000000000000000001', IPPROTO_UDP, 5684]]]

            Figure 6: Example of Registrar announcement message

6.2.3.  6tisch discovery

   The discovery of Registrar by the Pledge uses the enhanced beacons as
   discussed in [I-D.ietf-6tisch-enrollment-enhanced-beacon].

6.3.  Pledge discovers Join Proxy

   In this section, the Pledge and Join Proxy are assumed to communicate
   via Link-Local addresses.  This section describes the discovery of
   the Join Proxy by the Pledge.

6.3.1.  CoAP discovery

   In the context of a coap network without Autonomic Network support,
   discovery follows the standard coap policy.  The Pledge can discover
   a Join Proxy by sending a link-local multicast message to ALL CoAP
   Nodes with address FF02::FD.  Multiple or no nodes may respond.  The
   handling of multiple responses and the absence of responses follow
   section 4 of [RFC8995].

   The join-port of the Join Proxy is discovered by sending a GET
   request to "/.well-known/core" including a resource type (rt)
   parameter with the value "brski.jp" [RFC6690].  Upon success, the
   return payload will contain the join-port.

   The example below shows the discovery of the join-port of the Join
   Proxy.

     REQ: GET coap://[FF02::FD]/.well-known/core?rt=brski.jp

     RES: 2.05 Content
     <coaps://[IP_address]:join-port>; rt="brski.jp"

   Port numbers are assumed to be the default numbers 5683 and 5684 for
   coap and coaps respectively (sections 12.6 and 12.7 of [RFC7252])
   when not shown in the response.  Discoverable port numbers are
   usually returned for Join Proxy resources in the <URI-Reference> of
   the payload (see section 5.1 of [I-D.ietf-ace-coap-est]).

6.3.2.  GRASP discovery

   This section is normative for uses with an ANIMA ACP.  In the context
   of autonomic networks, the constrained Join Proxy uses the DULL GRASP
   M_FLOOD mechanism to announce itself.  Section 4.1.1 of [RFC8995]
   discusses this in more detail.  The following changes are necessary
   with respect to figure 10 of [RFC8995]: * The transport-proto is
   IPPROTO_UDP * the objective is AN_JOIN_PROXY * the objective name is
   empty The constrained Join Proxy announces itself using ACP instance
   of GRASP using M_FLOOD messages.  Autonomic Network Registrars MUST
   support GRASP discovery of constrained Join Proxies as described in
   section 4.3 of [RFC8995] .

   Here is an example M_FLOOD announcing the constrained Join Proxy at
   fe80::2, on standard coaps port 5684.

        [M_FLOOD, 12340815, h'fe800000000000000000000000000002', 180000,
        [["AN_JOIN_PROXY", 4, 1, ""],
        [O_IPv6_LOCATOR,
        h'fe800000000000000000000000000002', IPPROTO_UDP, 5684]]]

            Figure 7: Example of Join Proxy announcement message

6.3.3.  6tisch discovery

   The discovery of the Join Proxy by the Pledge uses the enhanced
   beacons as discussed in [I-D.ietf-6tisch-enrollment-enhanced-beacon].


movement of text to constrained-voucher implements this idea.